body {
  color: #393e46;
}

a {
    color: black;
}

.nav-background, .footer-background {
  background-color: #222831;
}

.navbar a {
  color: white;
}

footer {
  color: white;
}

.main-background {
  background-color: white;
}

a:hover {
  transition: .5s ease;
    color: #00ADB5;
}

footer a {
    color: white;
}

.site-dev {
    margin: 0;
    font-size: 80%;
    color: #404065;
}

 .site-dev a {
     color: #404065;
 }
 
 .site-dev a:hover {
  transition: .5s ease;
    color: #00ADB5;
 }
